pkgbase = yugen
	pkgdesc = A desktop music player with YouTube/SoundCloud search, lyrics, and Discord Rich Presence
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/k4runa/yugen
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = npm
	makedepends = git
	depends = webkitgtk-6.0
	depends = gtk4
	depends = libadwaita
	depends = taglib
	depends = curl
	depends = yt-dlp
	depends = ffmpeg
	depends = hicolor-icon-theme
	source = yugen-1.0.0.tar.gz::https://github.com/k4runa/yugen/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 4a4f16fb75ecf7915cb49a5b002b46a7fc0cfa5f7df9d764bfa8c420b090fabf

pkgname = yugen
