[Desktop Entry]
Type=Application
Name=Yugen
Comment=Music Player
Exec=yugen
Icon=yugen
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;audio;player;
StartupNotify=true
StartupWMClass=yugen
